#root {
  font-family: 'Roboto';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.drum-pad{
  background-color: #7d4cdb;
  padding: 10px;
  margin: 2px;
  border-radius: 7px;
  color: #F8F8F8;
  text-align: center;
  justify-content: flex-end;
  display:flex;
  flex-direction: column;
}
.drum-pad:hover{
  background-color: #9065de;
}
.drum-pad:active{
  background-color: #4610ab;
}
header{
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
